{% extends "base.html" %}
{% load i18n %}
{% block main_content %}

   <div id="main_content">

    {% if object_list %}

        {% for post in object_list %}
        <ul id="article_list">

            {% if forloop.first and not page_obj.has_previous %}
            <li id="featured_article">
                <h2><a href="#">{{ post.title|upper }}</a></h2>
                <p>{{ post.content|safe|truncatewords_html:"140" }}</p>
                <p class="more"><a href="/post/{{ post.id }}">{% trans "Read More" %}</a></p>
            </li>
            {% else %} 
            <li class="article">
                <h2><a href="#">{{ post.title|upper }}</a></h2>
                <p>{{ post.content|safe|truncatewords_html:"50" }}</p>
                <p class="more"><a href="/post/{{ post.id }}">{% trans "Read More" %}</a></p>
            </li>
            {% endif %}
        {% endfor %}
        </ul><!--end featured_article-->
    {% endif %}
    </div><!--end main_content-->

    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <p><a href="/page/{{ page_obj.previous_page_number }}/" title="Newer entries">{% trans "Newer entries" %}</a></p>
            {% endif %}
            {% if page_obj.has_next %}
                <p><a href="/page/{{ page_obj.next_page_number }}/" title="Older entries">{% trans "Older entries" %}</a></p>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
