{% extends "base.html" %}
{% block main_content %}

   <div id="main_content">

    {% if object_list %}

        {% for post in object_list %}
        <ul id="article_list">

            {% if forloop.first %}
            <li id="featured_article">
                <h2><a href="#">{{ post.title|upper }}</a></h2>
                <p>{{ post.content|safe|truncatewords_html:"140" }}</p>
                <p class="more"><a href="#">Read More</a></p>
            </li>
            {% else %} 
            <li class="article">
                <h2><a href="#">{{ post.title|upper }}</a></h2>
                <p>{{ post.content|safe|truncatewords_html:"50" }}</p>
                <p class="more"><a href="#">Read More</a></p>
            </li>
            {% endif %}
        {% endfor %}
        </ul><!--end featured_article-->
    {% endif %}
    </div><!--end main_content-->


    <div class="pagination">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <p><a href="/page/{{ page_obj.previous_page_number }}/" title="Newer entries">Newer entries</a></p>
            {% endif %}
            {% if page_obj.has_next %}
                <p><a href="/page/{{ page_obj.next_page_number }}/" title="Older entries">Older entries</a></p>
            {% endif %}
        {% endif %}
    </div>


{% endblock %}
