{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block main_content %}

    {% if object_list %}

        {% for post in object_list %}

            <div class="planet_post">
                <h2>{{ post.title|upper }}</h2>
                <div class="post_content">
                    {% if forloop.first %}
                        <div class="first_post">
                            {{ post.content|safe|truncatewords_html:"140" }}
                        </div>
                    {% else %}
                        <div class="next_post">
                            {{ post.content|safe|truncatewords_html:"50" }}
                        </div>
                    {% endif %}
                    <div class="post_more">Read more</div>
                </div>
            </div>

        {% endfor %}

    {% endif %}

    <div class="pagination">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <p><a href="/page/{{ page_obj.previous_page_number }}/" title="Newer entries">Newer entries</a></p>
            {% endif %}
            {% if page_obj.has_next %}
                <p><a href="/page/{{ page_obj.next_page_number }}/" title="Older entries">Older entries</a></p>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
