{% extends "base.html" %}
{% load i18n %}
{% block main_content %}
<div id="main_content">
    <div class="single_article">
        <h2>{{ object.title }}</h2>
        <p class="credit">{% trans "Writen by: " %}<a href="{{ object.feed.site_url }}">{{ object.feed.author }}</a></p>
        {{ object.content|safe }}
    </div><!--end single_article-->
    <!--<p class="author_website"><a href="{{ object.feed.site_url }}">{% trans "Visit the author's website." %}</a></p>-->
</div><!--end main_content-->
{% endblock %}
