<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Title</title>
	<script type="text/javascript" src="js/jquery-1.2.6.min.js"></script>
	
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>

</head>

<body>
	
	<div id="container">
	
	<div id="branding">
		<h1><a href="http://projectdeploy.org">Planeta Gnu/Linux Brasil</a></h1>
	</div><!--end branding-->
	
	<div id="date">
		<p>Sexta-Feira 24 de Janeiro de 2009</p>
	</div><!--end date-->
	
	<div id"ad_1" class="ad">
		
	</div><!--end ad_1-->
	
	<div id="ad_2" class="ad">
	
	</div><!--end ad_2-->
	
	<div id="main_navigation">
		<ul>
			<li><a href="#">HOME</a></li>
			<li><a href="#">ARQUIVOS</a></li>
			<li><a href="#">CONTATO</a></li>
			<li><a href="#">TAGS</a></li>
			<li><a href="#">AUTORES</a></li>
		</ul>
	</div><!--end main_navigation-->
	
	<div id="main_content">
	
		<div class="single_article">
				<h2>Cras egestas diam sed ante.</h2>
				<p class="credit">Por: Zé da Couve</p>
		<p><spam class="hidden"><a href="http://quartoestudio.com/sp/images/navegador.jpg"><img src="http://quartoestudio.com/sp/images/navegador.jpg" /></a></spam>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		<p>Morbi non erat non ipsum <a href="#">pharetra tempus</a>. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiammolestie vel, ornare sit amet, risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		</div><!--end single_article-->
		
		<p class="author_website">Visite o website do <a href="#">autor</a></p>
		
		<div id="related_articles">
			<p>Artigos Relacionados:</p>
			<ul>
				<li><a href="#">molestie vel, ornare sit amet,</a></li>
				<li><a href="#">urna sit amet risus</a></li>
				<li><a href="#">interdum vel, mauris. E</a></li>
				<li><a href="#">ec orci. Proin in ante.</a></li>
				<li><a href="#">ie vel, ornare sit am</a></li>
			
			</ul><!--end related_articles-->
		
			
		</div><!--end author_info-->
	</div><!--end main_content-->

	
	
	
	<div id="sidebar">
		<div id="search">
			<form>
			  <div>
			    <input type="text" name="q" size="25" class="input_text" />
			    <input type="submit" name="sa" value="Pesquisar" class="buttom"/>
			  </div>
			</form>
		
		</div><!--end search-->
		
		<div id="info">
		<div id="about" class="sidebar_item">
			<h3>Sobre o Planeta</h3>
				<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus. Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		</div>

		
		<div id="colaborators" class="sidebar_item">
			<h3>Colaboradores</h3>
				<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus. Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
		</div>
		
		<div id="twitter" class="sidebar_item">
			<h3>Siga o Planeta no Twitter</h3>
			<p><a id="twitter_bird" href="../images/twitter_bird_124x120.jpg"><img src="http://quartoestudio.com/sp/images/twitter_bird_124x120.jpg" alt="Twitter Bird" /></a>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus. Morbi non erat non ipsum pharetra tempus.</p>
		</div><!--end twitter-->
	</div><!--end info-->
	</div><!--end sidebar-->
	</div><!--end container-->
	

		<div id="website_information">
			<p>Planeta Gnu/Linux 2009 Alguns Direitos Reservados. Website by: QuartoEstudio.com</p>
		</div><!--end website_information-->
</body>
</html>
