<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" 
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% include "header.html" %}
<body>
    {% block header %}
    <div id="container">
        <div id="branding">
            <h1><a href="{{ PLANET_URL  }}">{{ PLANET_NAME }}</a></h1>
        </div><!--end branding-->

        <div id="date">
            <p>{% now "jS F Y H:i" %}</p>
        </div><!--end date-->

        {% endblock %}

        {% include "ads.html" %}
        {% include "navigation.html" %}

        {% block main_content %}{% endblock %}


        {% block extra_main_content %}{% endblock %}

        {% include "sidebar.html" %}

        {% block footer %}
        <div id="website_information">
            <p>Planeta Gnu/Linux 2009 Alguns Direitos Reservados. Website by: QuartoEstudio.com</p>
        </div><!--end website_information-->
        {% endblock %}
    </div><!--end container-->
</body>
</html>
