<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <link rel="alternate" type="application/rss+xml" title="Planeta GNU/Linux Brasil" href="/feeds/rss/" />
        <link rel="alternate" type="application/rss+xml" title="Planeta GNU/Linux Brasil" href="/feeds/atom/" />
        <link href="/media/css/sansplanet.css" rel="stylesheet" type="text/css" />
        <title>{% block title %}Planeta GNU/Linux Brasil{% endblock %}</title>
    </head>
    <body>
        {% block header %}
        <div class="header">
            <div class="title">Planeta</div>
        </div>
        {% endblock %}

        {% block main_content %}{% endblock %}

        {% block extra_main_content %}{% endblock %}

        {% block footer %}
            <p>Footer goes here</p>
        {% endblock %}

    </body>
</html>
