<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

### Fancy Planet HTML template.
### 
### When combined with the stylesheet and images in the output/ directory
### of the Planet source, this gives you a much prettier result than the
### default examples template and demonstrates how to use the config file
### to support things like faces
### 
### For documentation on the more boring template elements, see
### examples/config.ini and examples/index.html.tmpl in the Planet source.

<head>
<title><TMPL_VAR name></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">
<link rel="stylesheet" href="planet.css" type="text/css">
<link rel="shortcut icon" href="images/logo.png" />
<TMPL_IF feedtype>
<link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" type="application/<TMPL_VAR feedtype>+xml">
</TMPL_IF>
</head>

<body>
<h1><TMPL_VAR name></h1>
<TMPL_LOOP Items>
<TMPL_IF new_date>
<TMPL_UNLESS __FIRST__>
### End <div class="channelgroup">
</div>
### End <div class="daygroup">
</div>
</TMPL_UNLESS>
<div class="daygroup">
<h2><TMPL_VAR new_date></h2>
</TMPL_IF>

<TMPL_IF new_channel>
<TMPL_UNLESS new_date>
### End <div class="channelgroup">
</div>
</TMPL_UNLESS>
<div class="channelgroup">

### Planet provides template variables for *all* configuration options for
### the channel (and defaults), even if it doesn't know about them.  We
### exploit this here to add hackergotchi faces to our channels.  Planet
### doesn't know about the "face", "facewidth" and "faceheight" configuration
### variables, but makes them available to us anyway.

<h3><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>
<TMPL_IF channel_face>
<img class="face" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="">
</TMPL_IF>
</TMPL_IF>


<div class="entrygroup" id="<TMPL_VAR id>"<TMPL_IF channel_language> lang="<TMPL_VAR channel_language>"</TMPL_IF>
<TMPL_IF title>
<h4<TMPL_IF title_language> lang="<TMPL_VAR title_language>"</TMPL_IF>><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a>

<div class="date">
<TMPL_VAR date>
</div>

</h4>
</TMPL_IF>


<div class="entry">
<div class="content"<TMPL_IF content_language> lang="<TMPL_VAR content_language>"</TMPL_IF>
<TMPL_VAR content>
</div>

### Planet also makes available all of the information from the feed
### that it can.  Use the 'planet-cache' tool on the cache file for
### a particular feed to find out what additional keys it supports.
### Comment extra fields are 'author' and 'category' which we
### demonstrate below.

</div>
</div>

<TMPL_IF __LAST__>
### End <div class="channelgroup">
</div>
### End <div class="daygroup">
</div>
</TMPL_IF>
</TMPL_LOOP>


<div class="sidebar">
<img src="images/logo.png" alt="logo">
<p>Mais informações sobre o Planeta e como participar <a href="http://code.google.com/p/planeta-gnulinux-br/">aqui</a></p>

<strong>Na Veia:</strong><br />
<a href="http://planeta.gnulinuxbrasil.org/rss20.xml" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://planeta.gnulinuxbrasil.org/rss20.xml" rel="alternate" type="application/rss+xml">RSS</a><br />

<p>
<strong>O gibi mais bacana do Brasil:</strong>
<a href="http://nerdson.com" title="Nerdson não vai à escola"><img src="http://nerdson.com/images/banner.png" alt="Divulgue o Nerdson"></a>
</p>

<p>
<strong>Ubuntu Games:</strong>
<a href="http://ubuntugames.org" title="Ubuntu Games"><img src="http://ubuntugames.org/templates/ja_purity/images/logo.png" alt="Ubuntu Games"></a>
</p>

<p>

<h2>Astronautas</h2>
<ul>
<TMPL_LOOP Channels>
<li>
<a href="<TMPL_VAR url ESCAPE="HTML">" title="subscribe"><img src="images/feed-icon-10x10.png" alt="(feed)"></a> <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF><TMPL_IF message>class="message" title="<TMPL_VAR message ESCAPE="HTML">"</TMPL_IF><TMPL_UNLESS message>title="<TMPL_VAR title_plain ESCAPE="HTML">"</TMPL_UNLESS>><TMPL_VAR name></a>
</li>
</TMPL_LOOP>
</ul>

<p>
<strong>Última Atualização:</strong><br>
<TMPL_VAR date><br>
<em>As horas estão em UTC.</em><br>
<br>
Powered by:<br>
<a href="http://www.planetplanet.org/"><img src="images/planet.png" width="80" height="15" alt="Planet" border="0"></a>
</p>

<p>
<h2>Planetário:</h2>
<strong>Planetas Nacionais:</strong>
<ul>
<li><a href="http://www.macplaneta.com.br/">Mac Planeta</a></li>
<li><a href="http://planeta.br.gnome.org/">Planeta GNOME Brasil</a></li>
<li><a href="http://planeta.mandriva-br.org/">Planeta Mandriva Brasil</a></li>
<li><a href="http://planeta.linuxchix.org.br/">Planeta LinuxChix Brasil</a></li>
<li><a href="http://planeta.ubuntubrasil.org/">Planeta Ubuntu Brasil</a></li>
<li><a href="http://www.debianbrasil.org/planeta/">Planeta Debian Brasil</a></li>
<li><a href="http://planet.angusyoung.org//">Planeta Gentoo Brasil</a></li>
<li><a href="http://planeta.archlinux-br.org/">Planeta ArchLinux Brasil</a></li>
<li><a href="http://planeta.gnome-br.org/">Planeta Gnome Brasil</a></li>
<li><a href="http://planet.core.eti.br/">Planeta Arkhan</a></li>
<li><a href="http://nerds.valeta.org/">Pandemonium</a></li>
<li><a href="http://www.planet.msxall.com/">Planeta MSX</a></li>
</ul>
<strong>Planetas Vizinhos:</strong>
<ul>
<li><a href="http://planetuga.com/posts">Planetuga</a></li>
<li><a href="http://planet.debianpt.org/">Planeta DebianPT.org</a></li> 
<li><a href="http://www.susept.com/blog/">Blog SusePT</a></li>
<li><a href="http://www.prt.sc/planet/">PrintScreen</a></li>
<li><a href="http://www.planetgeek.org/">Planet Geek</a></li>
</ul>
<strong>Planetas Internacionais:</strong>
<ul>
<li><a href="http://planet.ubuntu.com/">Planet Ubuntu</a></li>
<li><a href="http://planet.gnome.org/">Planet GNOME</a></li>
</ul>
<strong>Notícias:</strong>
<ul>
<li><a href="http://br-linux.org">BR-Linux.org</a></li>
</ul>
</p>
</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-537904-3";
urchinTracker();
</script>

</body>

</html>
