{% load i18n %}
    <div id="sidebar">
      {% include "languages.html" %}
      <div id="menu">
      <div id="search">
         <form action="#">
           <div>
             <input type="text" name="q" size="25" class="input_text" />
             <input type="submit" name="sa" value="{% trans "Search" %}" class="buttom"/>
           </div>
         </form>

      </div><!--end search-->

      <div id="info">
      <div id="about" class="sidebar_item">
         <h3>{% trans "About" %}</h3>
            <p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus. Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
      </div>


      <div id="colaborators" class="sidebar_item">
         <h3>{% trans "Colaborators" %}</h3>
            <p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus. Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
      </div>

      <div id="twitter" class="sidebar_item">
         <h3>{% trans "Follow us on Twitter" %}</h3>
         <p><a id="twitter_bird" href="../images/twitter_bird_124x120.jpg"><img src="http://quartoestudio.com/sp/images/twitter_bird_124x120.jpg" alt="Twitter Bird" /></a>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante. Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus. Morbi non erat non ipsum pharetra tempus.</p>
      </div><!--end twitter-->
    </div><!--end info-->
    </div><!--end sidebar-->
